body {
    margin: 0 auto;
    font-family: Arial;
    font-size: 13px;
}

body img {
    display: block;
    padding: 200px 0px 30px 0px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    /*margin: 0;
    padding: 0;*/
}

nav li {
    display: inline;
    padding-right: 10px;
}

nav li a {
    text-decoration: none;
    color: dimgray;
}

nav li a:hover {
    text-decoration: underline;
}

/* Top navigation menu */
#top-nav-left {
    position: absolute;
    top: 10px;
    left: -10px;
}

#top-nav-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

#apps-icon {
    height: 25px;
    width: 25px;
    position: relative;
    top: 10px;
}

#sign-in {
    background-color: lightskyblue;
    border: 1px;
    border-radius: 2px;
    border-style: solid;
    color: #fff;
    font-weight: bold;
    padding: 0 10px;
}

input[type=text] {
    display: block;
    height: 40px;
    width: 500px;
    margin: 0 auto;
    outline: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    /* border-left: none;
    border-right: none; */
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}

button {
    height: 40px;
    padding: 0px;
}